/*Google font import*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*CSS variables*/
:root {
    --primary-font: Raleway, sans-serif;
    --secondary-font: "Montserrat Alternates", cursive;
    --highlight-color: #55CBD2; /* middle blue */
    --highlight-light-color: #C5FFF1; /* bright blue */
    --primary-color: #173753; /* dark blue */
    --secondary-color: #1B4353; /* charcoal */
}

/*Global styles*/
body {
    font-family: var(--primary-font);
    color: var(--primary-color);
}

h1, h2, h3 {
    font-family: var(--secondary-font);
    color: var(--secondary-color);
}
/*Navbar styles*/
#navbar {
    background-color: var(--primary-color);
}

#navbar .btn {
    background-color: var(--highlight-color);
    color: var(--primary-color); 
}

#navbar .btn:hover {
    background-color: var(--secondary-color);
    color: var(--highlight-light-color); 
    border: 1px solid var(--highlight-light-color);
}

/*Header styles*/
#hero {
    background: url(../img/hero.jpg) 75% 35% var(--primary-color);
    min-height:500px;
    
}

#hero-quote {
    background-color: rgba(00,00,00,0.5);
}
#hero-quote h2 {
    color: white;
}

/*Section styles*/



/*About and Philosophy section styles*/
#cat-notebook {
    border-radius: 50%;
}

/*Testimonials section styles*/

#testimonials-carousel {
    background-color: var(--highlight-light-color);
}
#testimonials-carousel .carousel-item.active {
    padding: 1rem 5rem;
    min-height: 150px;
    
}

#testimonials-carousel .carousel-item.active, 
#testimonials-carousel .carousel-inner {
    display: flex;
    align-items: center;
    color: var(--primary-color);
    text-align: center;
}



/*Footer styles*/
#contact {
    background-color: var(--primary-color);
}

#contact * {
    color: white;
}


/*media queries*/
/*Max Mobile L screen, reduce padding in testimonial carousel as it gets cramped*/
@media screen and (max-width: 426px) {
    .carousel-item.active {
        padding: 1rem, 3rem;
}
}
/*Max Mobile M screen, reduce padding in testimonial carousel as it gets cramped*/

@media screen and (max-width: 376px) {
    .carousel-item.active {
        padding: 1rem 2rem;
}
}
/*Max Mobile S screen, reduce padding in testimonial carousel as it gets cramped*/

@media screen and (max-width: 320px) {
    .carousel-item.active {
        padding: 1rem 1.5rem;
}
}
